{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

    {% block content %}
    <body style="background-color:#476b83">
      <div class="container">
    <div style="text-align: center;"> <h1 style = "color:#476b83"> About Us </h1>
        <h2 style = "color:#ffdc7f;">
                   Archer is an website that will help you make friends
                   based on common intrests. Archer is devloped by John Hoang,
                   Gurvin Kohli, Daniel Tran, and Edgar Yu. All four of us have
                   always believed that making friends is a vital part of a
                   students acedemic sucess. Hence Archer will help everyone at
                   San Jose State University to make friends but most importantly
                   Archer will help freshmen make friends.
                </h2>
            </div>
            <div style="text-align: center;"><br>
              <h1 style="color:#ffdc7f;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                ░▄██▄██▄&nbsp&nbsp&nbsp/\",,¸/\. /\",,¸/\ <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                ░███████>(=•_•=)(=•_•=)< <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                ░░▀███▀__/▶●◀\/▶●◀\__ <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                ░░░░▀░&nbsp&nbsp_(ö¯)\|/( ö¯)(¯ö)\|/(ö¯) <br>
              </h1>
            </div>
            </div>
            </body>
<!--ABOUT US CODE-->
    {% endblock %}
