{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<!--Displays Info about our company and contact-->
{% block content %}
<body style="background-color:#476b83">
      <div style="text-align: center;">
          <h1 style="color:#ffdc7f"> Contact Us                                                 </h1>
          <h2 style="color:#ffdc7f">Hours of operation: Monday - Friday 9 A.M. - 5 P.M.        </h2>
          <h3 style="color:#ffdc7f">Phone: (408)-967-3886<br>24 x 7 phone assistance available </h3>
          <h4 style="color:#ffdc7f">Email: Archer@asrc.edu                                     </h4>
          <h5 style="color:#ffdc7f">Address: 9935 Waime Ln, Elk Grove, CA 95624                </h5>
          <h6 style="color:#ffdc7f">We respond to emails within 48 hours                       </h6>

      </div>
      </body>
{% endblock %}
