{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<body style="background-color:#476b83">
<h1 style="color:#ffdc7f;"> <br> <br> <center> Join Archer And Start Making Friends Today </center> </h1>
            <div style="text-align: center;"><br>
              <h1 style="color:#ffdc7f;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                ░▄██▄██▄&nbsp&nbsp&nbsp/\",,¸/\. /\",,¸/\ <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                ░███████>(=•_•=)(=•_•=)< <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                ░░▀███▀__/▶●◀\/▶●◀\__ <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                ░░░░▀░&nbsp&nbsp_(ö¯)\|/( ö¯)(¯ö)\|/(ö¯) <br>
              </h1>
            </div>
             </body>
{% endblock %}
