{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
    <!--SURVEY CODE-->
    <body style="background-color: #476b83">
    <div class="container">
      <br>
        <form method="POST" action="{{ url_for('survey') }}">
            <d1>
                {{ form.hidden_tag() }}
                <font style="font-size:20px; color:#ffdc7f">{{ wtf.form_field(form.major) }}</font>
                <font style="font-size:20px; color:#ffdc7f">{{ wtf.form_field(form.outdoor) }}</font>
                <font style="font-size:20px; color:#ffdc7f">{{ wtf.form_field(form.indoor) }}</font>
                <font style="font-size:20px; color:#ffdc7f">{{ wtf.form_field(form.question) }}</font>
                <font style="font-size:20px; color:#ffdc7f">{{ wtf.form_field(form.answer) }}</font>
                <input class="btn btn-success" type="submit" style="font-size:18px" value="Submit">
            </d1>
        </form>

    </div>
</body>
{% endblock %}
